/* basic flex styling for entire div  */
.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* removes navbar elements  */
.register__navbar ul, form{
    display: none;
}

/* sets display style for email field
to revert the display:none; from styling above  */
.register__forum form[id = 'register'] {
    display: block;
}

/* positioning on screen for entire form  */
.register__forum {
    position: absolute;

    width: 460px;
    left: 490px;
    top: 200px;
}

/* underlining the header  */
.register__forum span {
    padding: 1rem;
    border-bottom: 1px solid black;
}

/* What's your email?  */
.register__forum h1 {
    /* positioning  */
    position: absolute;
    left: 80px;
    
    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;

    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;
}

/* styling and alignment of list of elements in the forum, containing email and continue fields  */
.register__forum ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; /*  gets rid of pesky dots  */
}

/* email field styling  */
.register__forum input[type='email'] {
    /* positioning and sizing  */
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    right: 10px;
    width: 400px;
    height: 65px;
    margin: 1rem;
    
    /* background, opacity, border, corner rounding  */
    background: #D9D9D9;
    opacity: 0.8;
    border: 1px solid #000000;
    border-radius: 5px;

    /* user input text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

/* placeholder text within email field  */
input[type='email']::placeholder {
    /* positioning and sizing  */
    width: 274px;
    height: 24px;
    margin-left: 1rem;
    margin-top: 0.4rem;
    font-size: 18px;
    line-height: 24px;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    opacity: 0.5;

    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;    
}

/* continue button  */
.register__forum input[type='submit'] {
    /* positioning and sizing  */
    box-sizing: border-box;
    position: absolute;
    top: 180px;
    right: 10px;
    width: 400px;
    height: 65px;
    margin: 1rem;
    
    /* background, opacity, border, corner rounding  */
    border: 1px solid black;
    background: #5B62FF;
    opacity: 0.8;
    border-radius: 5px;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
