
/* enter 4 digit code text */
.emailauth h1[id='header'] {
  /* screen positioning */
  position: absolute;
  left: 490px;
  top: 200px;
  
  /* font styling */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
 
  /* display and alignment */
  display: flex;
  align-items: center;
  text-align: center;

  /* text color */
  color: #000000;
}

/* "underline" of header */
.emailauth span {
padding: 1rem;
border-bottom: 1px solid black;
}

/* gets rid of sign up and login forums on navbar */
.emailauth__navbar ul, form{
  display: none;
}

/* display style for 4 digit pin */
.emailauth form[id='auth'] {
  display: block;
}

/* styling for 4 digit pin boxes */
.pinBox {
  /* size variables */
    --width: 296px;
    --height: 74px;
    --spacing: 47px;
    
    /* display style + positioning on screen */
    display: inline-block;
    position: absolute;
    left: 545px;
    top: 300px;
    width: var(--width);
    height: var(--height);

    /* image importted from internet for background of pin boxes */
    background-image: url(https://i.stack.imgur.com/JbkZl.png); 
  }
  
  /* actual text within the boxes */
  .pinEntry {
    /* positioning for text within the boxes */
    position: absolute;
    padding-left: 21px;
    letter-spacing: 53px;
    /* text styling for user input */
    font-family: 'Poppins', sans-serif;
    font-size: var(--spacing);
    height: var(--height);
    


    background-color: transparent; /*  makes background of text nothing */
    border: 0;
    outline: none;
    
    /* defines the visible area of the boxes  */
    clip: rect(0px, calc(var(--width) - 21px), var(--height), 0px);
  }

  /* submit button for pin */
  .pinBox input[type='submit'] {
    /* display style and positioning on screen  */
    display: inline-block;
    position: absolute;
    left: 304px;
    top: 2px;
    width: 75px;
    height: 70px;
  }