/* basic flex styling for entire div  */
.password {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gets rid of buttons on navbar  */
.password__navbar ul, form{
    display: none;
}

/* sets display style for password and continue fields 
to revert the display:none; from styling above  */
.password__forum form[id = 'password'] {
    display: block;
}

/* positioning of forum div on screen  */
.password__forum {
    position: absolute;
    width: 560px;
    left: 445px;
    top: 100px;
}

/* underlining of header  */
.password__forum span {
    padding: 1rem;
    border-bottom: 1px solid black;
}

/* "Create a strong password!" header */
.password__forum h1 {
    /* positioning  */
    position: absolute;
    left: 80px;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;

    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;

}

.password__forum ul[id='forum'] {
    /* styling and alignment of list of elements in the forum, containing password and continue fields  */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; /* removes pesky dots on list elements */
}

/* password requirements ul styling  */
.password__forum ul[id='requirements'] {
    /* text positioning  */
    position: relative;
    top: 160px;
    right: 45px;
    margin-bottom: -1rem;

    /* text styling and sizing */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    
    /* color and dot style for list  */
    color: gray;
    list-style:square;
}


/* password field styling  */
.password__forum input[type='text'] {
    /* sizing and positioning  */
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    right: 58px;
    width: 400px;
    height: 65px;
    margin: 1rem;
    
    /* colors, opacity, bordering and corner rounding of box  */
    background: #D9D9D9;
    opacity: 0.8;
    border: 1px solid #000000;
    border-radius: 5px;

    /* user input text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

/* placeholder text within password box  */
input[type='text']::placeholder {
    /* width and positioning of text  */
    width: 274px;
    height: 24px;
    margin-left: 1rem;
    margin-top: 0.4rem;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;

    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;    
}

/* continue button styling  */
.password__forum input[type='submit'] {
    /* sizing and positioning on screen  */
    box-sizing: border-box;
    position: absolute;
    top: 310px;
    right: 58px;
    width: 400px;
    height: 65px;
    margin: 1rem;

    /* color, bordering, opacity and corner rounding  */
    border: 1px solid black;
    background: #5B62FF;
    opacity: 0.8;
    border-radius: 5px;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
