/* "enter 4 digit code sent to number" */
.phoneauth h1[id='header'] {
    /* sizing and positioning  */
    position: absolute;
    left: 490px;
    top: 200px;
    
    /* text styling */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;

    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  /* underline of header  */
  .phoneauth span {
  padding: 1rem;
  border-bottom: 1px solid black;
  }
  
  /* gets rid of buttons on navbar  */
  .phoneauth__navbar ul, form{
    display: none;
  }
  
  /* sets display style for number authenticator field
to revert the display:none; from styling above  */
  .phoneauth form[id='auth'] {
    display: block;
  }
  
  /* stolen from stack overflow, box styling for 4 digit input field  */
  .pinBox {
    /* sizing variables  */
      --width: 296px;
      --height: 74px;
      --spacing: 47px;
      
      /* display, positioning and sizing of boxes  */
      display: inline-block;
      position: absolute;
      left: 545px;
      top: 300px;
      width: var(--width);
      height: var(--height);
      background-image: url(https://i.stack.imgur.com/JbkZl.png); 
    }
    
    /* stolen from stack overflow, user input styling for 4 digit auth code  */
    .pinEntry {
      /* positioning and sizing  */
      position: absolute;
      padding-left: 21px;
      height: var(--height);
      letter-spacing: 53px;

      /* text styling  */
      font-family: 'Poppins', sans-serif;
      font-size: var(--spacing);
      background-color: transparent;
      border: 0;
      outline: none;
      
      /* defines the visible area of the boxes  */
      clip: rect(0px, calc(var(--width) - 21px), var(--height), 0px);
    }
  
    /* arrow submit button  */
    .pinBox input[type='submit'] {
      /* display and positioning, sizing on screen  */
      display: inline-block;
      position: absolute;
      left: 304px;
      top: 2px;
      width: 75px;
      height: 70px;
    }