/* Style for the registration page */
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}
/* Center the page content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the input fields */
label,
input[type="text"],
input[type="password"],
input[type="file"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

/* Style for the submit button */
button[type="submit"] {
  background-color: #0077ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Style for the input file */
input[type="file"] {
  margin-top: 10px;
}
