/* basic flex styling for entire div  */
.phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gets rid of buttons on navbar  */
.phone__navbar ul, form{
    display: none;
}

/* sets display style for phone number and continue fields 
to revert the display:none; from styling above  */
.phone__forum form[id = 'phone'] {
    display: block;
}

/* positioning of forum div on screen  */
.phone__forum {
    position: absolute;
    width: 460px;
    left: 490px;
    top: 200px;
}

/* underline of header  */
.phone__forum span {
    padding: 1rem;
    border-bottom: 1px solid black;
}

/* Next, we need your phone number.  */
.phone__forum h1 {
    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    
    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}


.phone__forum ul {
    /* styling and alignment of list of elements in the forum, containing phone number and continue fields  */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none; /* removes pesky dots on ul elements  */
}

/* phone number field styling  */
.phone__forum input[type='number'] {
    /* sizing and positioning  */
    box-sizing: border-box;
    position: absolute;
    top: 120px;
    right: 10px;
    width: 295px;
    height: 65px;
    margin: 1rem;
    
    /* colors, opacity, bordering and corner rounding of box  */
    background: #D9D9D9;
    opacity: 0.8;
    border: 1px solid #000000;
    border-radius:0 5px 5px 0;

    /* user input text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    
}

/* placeholder text inside phone number field  */
input[type='number']::placeholder {
    /* positioning of text  */
    width: 200px;
    height: 24px;
    margin-left: 0.5rem;
    margin-top: 0.4rem;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;

    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;
}

/* continue button styling  */
.phone__forum input[type='submit'] {
    /* sizing and positioning  */
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    right: 10px;
    width: 400px;
    height: 65px;
    margin: 1rem;

    /* colors, opacity, bordering and corner rounding of box  */
    border: 1px solid black;
    background: #5B62FF;
    opacity: 0.8;
    border-radius: 5px;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

/* phone extension field  */
.phone__forum input[id='ext'] {
    /* sizing and positioning  */
    box-sizing: border-box;
    position: absolute;
    top: 120px;
    right: 315px;
    width: 95px;
    height: 65px;
    margin: 1rem;
    
    /* colors, opacity, bordering and corner rounding of box  */
    background: #D9D9D9;
    opacity: 0.8;
    border: 1px solid #000000;
    border-radius: 5px 0 0 5px;

    /* user inputted text styling */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    
}

/* extension placeholder text  */
input[id='ext']::placeholder {
   /* width and positioning  */
    width: 40px;
    height: 65px;
    margin-left: -0.8rem;

    /* text styling  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;

    /* display and alignment  */
    display: flex;
    align-items: center;
    text-align: center;

    
}